* {
	font-family: catamaran, serif;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

body {
	background: linear-gradient(to right,gray,rgba(0,0,0,0.05));
}

div.main-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
	background-color: #ffffff;
	width: 400px;
	border-radius: 10px;
	padding: 20px 0;
}

div.main-content header h1 {
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}

/**********************/

div.main-content section ul {
	list-style: none;
}

div.main-content section ul li {
	padding: 12px 26px;
}

div.main-content section ul li.gray {
	background-color: rgba(0,0,0,0.05);
}

div.main-content section li input {
	float: right;
}

div.main-content section li input:checked + p {
	text-decoration: line-through;
	color: rgba(0,0,0,0.5);
}
/*********************/


footer {
	margin-top: 20px;
	text-align: center;
}

footer input {
	padding: 10px 20px;
	border-radius: 50px;
	border: 1px solid gray;
	outline: none;
}

footer button {
	padding: 10px 20px;
	border-radius: 50px;
	border: none;
	outline: none;
	background-color: rgba(0,0,0,0.05);
	cursor: pointer;
}

footer button:hover {
	background-color: rgba(0,0,0,0.1);
}